/*
 * animations css stylesheet
 */

/* animate in phone listing */

.phone-listing-enter,
.phone-listing-leave {
  -webkit-transition: 0.5s linear all;
  -moz-transition: 0.5s linear all;
  -o-transition: 0.5s linear all;
  transition: 0.5s linear all;
}

.phone-listing-enter {
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.phone-listing-enter.phone-listing-enter-active {
  opacity: 1;
  height: 120px;
}

.phone-listing-leave {
  opacity: 1;
  overflow: hidden;
}

.phone-listing-leave.phone-listing-leave-active {
  opacity: 0;
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
}

/* cross fading between routes with ngView */
/* Animate view transitions with `ngView` */
.view-container {
  position: relative;
}

.view-frame {
  margin-top: 20px;
}

.view-frame-enter,
.view-frame-leave {
  background: white;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.view-frame-enter {
  animation: 1s fade-in;
  z-index: 100;
}

.view-frame-leave {
  animation: 1s fade-out;
  z-index: 99;
}

@keyframes fade-in {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fade-out {
  from { opacity: 1; }
  to   { opacity: 0; }
}

